/* list */

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list__choice {
  display: flex;
  padding: 0px;
}

.list__choise-item {
  display: flex;
  border: 1px solid #a3a3a3;
  border-radius: 10px;
  width: 168px;
  height: 33px;
  justify-content: center;
  margin-right: 14px;
}

.list__choise-item--2 {
  display: flex;
  border: 1px solid #a3a3a3;
  border-radius: 10px;
  width: 90px;
  height: 33px;
  justify-content: center;
  margin-right: 14px;
}

.list__choise-item--3 {
  display: flex;
  border: 1px solid #a3a3a3;
  border-radius: 10px;
  width: 127px;
  height: 33px;
  justify-content: center;
  margin-right: 14px;
}

.list__choise-item--4 {
  display: flex;
  border: 1px solid #a3a3a3;
  border-radius: 10px;
  width: 132px;
  height: 33px;
  justify-content: center;
}

.list__choise-link:hover,
.list__choise-link:focus {
  color: #007abe;
  transition: color 0.3s;
  background-color: #1919190e;
  transition: all 0.3s;
}

.list__choice-item + .list__choice-item {
  margin-left: 15px;
}

.list__choise-link {
  font-weight: 600;
  color: #555555;
  font-size: 16px;
  font-family: "Montserrat";
}

/* glav */

.filter__content-top{
  display: flex;
    align-items: center;
}

.filter_content{
  display: flex;
  margin-left: 38px;
  margin-right: 58px;
  align-items: center;
}

.popular__content {
  padding: 0;
}

.popular__content-two {
  padding: 0;
}

.glav-h3 {
  color: #4b4b4b;
  font-weight: 600;
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  margin-top: 18px;
  margin-bottom: 20px;
}

.glav__benefits-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 8px;
}

/* Ссылки для разбиения на страницы */

.glav__pagination {
  display: flex;
  margin-top: 50px;
  margin-bottom: 34px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat-SemiBold", sans-serif;
}

.glav__pagination a {
  font-weight: 600;
  font-size: 16px;
  padding: 7px 14px;
  border-radius: 70%;
  text-decoration: none;
  transition: background-color 0.3s;
}

/* Стиль активной/текущей ссылки */
.glav__pagination a.page_active {
  background-color: rgb(0, 122, 190);
  border-radius: 70%;
  color: white;
}

/* Добавить серый цвет фона при наведении курсора мыши */
.glav__pagination a:hover:not(.page_active) {
  background-color: #ddd;
}

.page {
  margin-right: 12px;
  color: #4b4b4b;
}

.page_active {
  margin-right: 12px;
}

.page_more {
  border: 1px solid;
  border-color: #007abe;
  color: #007abe;
  border-radius: 5px;
  height: 33px;
  width: 170px;
}

.page_more:hover {
  color: #ffffff;
  border-color: #1f2044;
  background-color: #00a6ff50;
  transition: all 0.3s;
  font-size: 16px;
}

.page_more:active {
  color: #007abe;
  border-color: #007bbe56;
  transition: all 0.3s;
}

.page_last {
  color: #007abe;
  display: flex;
  margin-right: 48px;
}

.page_img {
  margin-left: 9px;
}

/* choise */
/* .choise {
} */

.choise-list {
  color: #bcbcbc;
}

.choise-number {
  border: 1px solid;
  border-radius: 6px;
  color: #bcbcbc;
  width: 44px;
  height: 28px;
}

/* filter */

.filter__one{
  
}

.filter__two {

}

.filter__head {
  display: flex;
  border: 1px solid #a3a3a3;
  border-radius: 10px;
  align-items: center;
  height: 33px;
  width: 163px;
  color: #555555;
  justify-content: space-around;
}

.filter__head-img {
  margin-left: 10pxpx;
}

/* card */

.like-svg {
  position: absolute;
  top: 14px;
  right: 10px;
}

.like-svg path {
  transition: fill 0.3s;
}

.like-svg:hover path {
  fill: #007abe;
}

.product-card {
  width: 100%;
  max-width: 278px;
  background-color: #fff;
  box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  overflow: hidden;
}

.product-card__info {
  padding: 10px 18px 10px 17px;
  border: 1px solid #bcbcbc;
  border-top: none;
  border-radius: 0px 0px 12px 12px;
}

.product-card__product {
  color: #4b4b4b;

  font-weight: 600;
}

.product-card__price {
  color: #4b4b4b;
  font-size: 26px;
}

.product-card__about {
  color: #4b4b4b;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.product-card__art {
  color: #929292;
  font-weight: 400;
  font-size: 9px;
  margin-top: 6px;
  margin-bottom: 10px;
}

.product-card__like {
  color: #1f9d1c;
  font-size: 12px;
}

.product-card__like-no {
  color: #b23030;
  font-size: 12px;
  margin-left: 28px;
}

.black-div {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  right: 0;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.259);
}

.product-card__wrap{
  position: relative;
}

.product-card__img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.product-card__wrap:hover .black-div {
  opacity: 1;
}

.product-card__wrap:hover .product-card__middle {
  opacity: 1;
  display: flex;
}

.product-card__middle {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 0;
  left: 0;
  min-width: 150px;
  height: 50px;
  transition: 0.5s ease;
  opacity: 0;
  transform: translateY(-50%);
}

.product-card__opacity {
}

/* .card_like:focus{




} */

.content_bottom-right-btn_text {
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.content_bottom-right-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007abe;
  border-radius: 10px;
  width: 190px;
  height: 40px;
}

.content_bottom-right-btn_icon {
  margin-left: 5px;
}

.korzina_blue {
  display: none;
}

.card__like--active .korzina_blue {
  display: flex;
}

.card__like--active .korzina_green {
  display: none;
}

.obst {
  display: flex;
}

.card__last-price {
  display: flex;
  text-decoration: line-through;
  display: flex;
  font-weight: 400;
font-size: 16px;
color: #929292;
}

.product-card_bottom{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.product-card__left-left{
  display: flex;
}

.product-card__left-bottom{
  display: flex;
    align-items: flex-end;
    justify-content: center;
}

.product-card__hover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 500px;
  bottom: 0;
  right: 0;
  left: 0;
  transition: top 0.3s;
}

/* content filter */
.content__wrapper {
  display: flex;
  width: 100%;
  height: 251px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;
}

.content__wrapper .like-svg path {
  stroke: #007abe;
}

.content_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_bottom--left-p {
  display: flex;
}

.content_bottom-right {
  display: flex;
  align-items: flex-end;
}

.content_left {
  min-width: 281px;
  min-height: 251px;
}

.content_right {
  padding: 38px 17px 30px 40px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content_left-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content_top-h2 {
  color: #4b4b4b;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
}

.content_top-p {
  padding-top: 2px;
  padding-bottom: 14px;
  color: #929292;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}

.content_top-p--bottom {
  padding-bottom: 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  color: #4b4b4b;
}

.content_bottom-span {
  font-weight: 500;
  font-size: 28px;
  color: #4b4b4b;
}

.content_bottom-right-p {
  font-weight: 400;
  font-size: 12px;
  color: #1f9d1c;
}

.content_bottom-right-p {
  padding-right: 30px;
}

.filter .filter_page {
  display: flex;
}

.filter .glav__benefits-wrapper {
  grid-template-columns: repeat(4, 1fr);
  /* padding-right: 315px; */
}

/* circle */
.product-card__circle {
  width: 100%;
  display: block;
  outline: transparent;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.2);
  transition: background-color 0.3s;
  border: 2px solid transparent;
  transition: border-radius 2s;
}

.product-card__circle:focus {
  border-color: #a3bbc8;
  cursor: pointer;
}

.product-card__circle:hover {
  background-color: #a3bbc8;
  cursor: pointer;
}

.product-card__circle:hover svg {
  transform: perspective(400px) rotateY(180deg) translate(50%, -50%);
  fill: #fff;
}

.product-card__circle:active {
  cursor: wait;
  border: none;
  background-color: #191919;
  border-color: transparent;
}

.product-card__circle svg {
  fill: #a3bbc8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s, fill 0.3s;
}

.product-card__circle use {
  width: 20px !important;
  height: 20px !important;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
