.menu {
  display: flex;
  margin-top: 20px;
}

.menu::after,
.menu::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #dbdbdb;
  position: absolute;
  left: 0;
  right: 0;
  top: 125px;
}

.menu::after {
  top: 165px;
}

.header {
  margin-top: 9px;
}

.menu__list {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  padding: 0px;
}

.menu__list-link {
  color: #555555;
}

.menu__list-item {
  display: flex;
}

.menu__list-link:hover,
.menu__list-link:focus {
  font-weight: 600;
}

.menu__list-item + .menu__list-item {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

.menu__img {
  margin-right: 9px;
}

.header__top-inner {
  display: flex;
  flex-wrap: wrap;
}

.header__top-lk {
  display: flex;
  align-items: center;
  padding: 0;
}

.lk__img {
  margin-right: 8px;
}

.header__top-wrapper {
  display: flex;
  align-items: center;
}

.header__link {
  color: #777777;
  font-weight: 500;
  margin-left: 8px;
  margin-right: 8px;
}

.header__link:hover {
  color: black;
}

.header__info-point {
  display: flex;
}

.header__info {
  display: flex;
  align-items: center;
  font-style: inherit;
}

.header__point3 {
  margin-left: 20px;
}

.header__top-column {
  display: flex;
}

.header__info-column {
  display: flex;
  margin: 0;
  padding: 0;
}

.header__info-column .navbar:last-child .dropbtn {
  padding-right: 0;
}

.header__sub {
  display: none;
  position: absolute;
  top: -3px;
  bottom: 0;
  left: -40px;
  right: 0;
  padding-top: 20px;
}

.dropbtn:hover,
.dropbtn:focus {
  color: #007abe;
  border-color: #436372;
  text-decoration: underline;
}

.header__list-link,
.header__sub-list-link {
  padding-bottom: 1px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #436372;
  letter-spacing: 0.6px;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}

.header__bottom {
  display: flex;
  margin-top: 20px;
}

.header__bottom-page {
  margin-right: 10px;
  color: #007abe;
  cursor: pointer;
}

.bottom-img {
  margin-left: 10px;
}

.header__bottom-page--last {
  color: #9a9a9a;
}

.header__top-up {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.logo {
  display: block;
  width: 374px;
  height: 65px;
}

.header__top-up-wrapper {
  display: flex;
  justify-content: space-between;
}

.header__top-up-right {
  margin-left: 26px;
  flex: 1 1 auto;
}
.header__top-up-left {
  margin-bottom: -8px;
}

/* ------------------ */

/* Контейнер навигации */
.navbar {
  overflow: hidden;
  font-family: Arial;
}

/* Ссылки в панели навигации */
.navbar a {
  float: left;
  font-size: 16px;
  color: #777777;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Выпадающий контейнер */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Кнопка выпадающего списка */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #555555;
  background-color: inherit;
  font-family: "Montserrat"; /* Важно для вертикального выравнивания на мобильных телефонах */
  margin: 0; /* Важно для вертикального выравнивания на мобильных телефонах */
}

.dropdown:hover .dropbtn {
  color: #007abe;
}

/* Добавить красный цвет фона для ссылок на навигационную панель при наведении курсора */
/* .navbar a:hover, .dropdown:hover .dropbtn {

} */

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  float: none;
  color: #4b4b4b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Добавить серый цвет фона для выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
  background-color: #ddd;
  color: #007abe;
  text-decoration: underline;
}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
  display: block;
}
