@media (max-width: 1870px){
  .filter .glav__benefits-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .product-card{
    max-width: 330px;
  }
}

@media (max-width: 1750px){
  .filter .glav__benefits-wrapper {

    padding-right: 130px;
  }
}

@media (max-width: 1560px){
  .filter .glav__benefits-wrapper {
    padding-right: 220px;
  }
}

@media (max-width: 1440px){
  .filter .glav__benefits-wrapper {
    padding-right: 290px;
  }
}

@media (max-width: 1390px) {
  .content__wrapper {
    width: 97%;
  }

  .content_modal{
    left: 230px;
  }

  .filter_content{
    margin-left: 18px;
    margin-right: 38px;
  }


.wrapper{
  padding: 0 50px;
}

}

@media (max-width: 1305px){
  .menu__list-item + .menu__list-item {
    margin-left: 45px;
  }

  .menu__list-link{
    font-size: 15px;
  }

  .popular__content-two {
    display: none;
  }
}



@media (max-width: 1290px) {
  .filter .glav__benefits-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-card{
    max-width: 370px;
  }

  .content_modal{
    left: 220px;
  }
}

@media (max-width: 1275px) {

  .filter_content{
    margin-left: 18px;
    margin-right: 38px;
  }


  .logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .list .glav__benefits-wrapper {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 1240px){

 
  .menu__list-link{
    font-size: 15px;
  }

  .content_modal{
    left: 200px;
  }
}

@media (max-width: 1230px) {

  .content_modal{
    left: 190px;
  }

  /* .filter .glav__benefits-wrapper{
    grid-template-columns: 2fr 1fr;
  } */

}

@media (max-width: 1220px){


}

@media (max-width: 1210px){


  .product-card__price{
    font-size: 22px;
  }

  .card__last-price{
    font-size: 15px;
  }

  .card__price{
    width: 15px;
  }
}


@media (max-width: 1222px) {

  .menu__list-item + .menu__list-item {
    margin-left: 40px;
  }

  .menu__list-link{
    font-size: 14px;
  }

  .popular__content-two {
    display: none;
  }



  .product-card__price{
    font-size: 20px;
  }

  .card__price{
    width: 12px;
  }

  .product-card__like{
    font-size: 11px;
  }

  .content_modal{
    left: 185px;
  }


}

@media (max-width: 1195px){
  .header__top-up-wrapper,
  .dropdown .dropbtn {
    font-size: 15px;
  }
  
  .header__link{
    font-size: 15px;
  }
  
  .content_modal{
    left: 60px;
  }
  .menu__list-item + .menu__list-item {
    margin-left: 35px;
  }

}


@media (max-width: 1180px){
}

@media (max-width: 1170px){

  .content_modal{
    left: 170px;
  }
}

@media (max-width: 1160px){
  .header__top-up-wrapper,
  .dropdown .dropbtn {
    font-size: 14px;
  }
  
  .header__link{
    font-size: 14px;
  }
  
  .content_modal{
    left: 60px;
  }
  .menu__list-item + .menu__list-item {
    margin-left: 30px;
  }
}

@media (max-width: 1150px) {
  /* .header__info-column {
    padding-inline-start: 0px;
  } */


}

@media (max-width: 1140px){


  .content_modal{
    left: 160px;
    width: 825px;
    height: 615px
  }

  .modal_wrapper{
    padding: 17px 18px 23px 18px;
  }

  .content_modal{
    left: 140px;
    width: 825px;
    height: 615px
  }

  .modal_wrapper{
    padding: 17px 18px 23px 18px;
  }

  .header__top-up-right{
    flex: 0 0 680px;
  }
}

@media (max-width: 1130px) {
  /* .header__info {
    flex-direction: column;
    align-items: start;
  }
  .header__point3 {
    margin-left: 0;
  }
  .header__info-point + .header__info-point {
    margin-top: 5px;
  } */

  .glav__benefits-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }


  .menu__list-item + .menu__list-item {
    margin-left: 20px;
  }

  .filter__head-p {
    display: none;
  }

  .filter__head {
    width: 37px;
  }

  .content_modal{
    left: 160px;
    width: 825px;
    height: 615px
  }

  .modal_wrapper{
    padding: 17px 18px 23px 18px;
  }

  #mySidenav a{
    right: -80px;
    padding: 10px;
  }

}

@media (max-width: 1120px){

  .content_modal{
    left: 150px;
    width: 825px;
    height: 615px
  }

  .modal_wrapper{
    padding: 17px 18px 23px 18px;
  }


}

@media (max-width: 1110px){


}

@media (max-width: 1100px) {
  .footer{
    height: 305px;
  }
 
  .footer__wrap{
    margin-bottom: 10px;
  }

  .footer__top {
    flex-direction: column;
    height: 225px;
  }
  
  .footer__title {
    /* display: none; */
    margin-left: 0;
    margin-bottom: 0;
  }

  .footer__colon-text{
    margin-bottom: 0px;
  }

  .footer__point{
    margin-bottom: 10px;
  }

  .dropbtn {
    padding: 0;
  }

  .navbar {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .navbar + .navbar {
    margin-left: 10px;
  }

  .product-card__price{
    font-size: 18px;
  }

  .product-card__like{
    font-size: 10px;
  }

  .card__last-price{
    font-size: 14px;
  }

  .card__price{
    width: 10px;
  }

  .card__like{
    width: 46px;
  }

  .content_modal{
    left: 130px;
    width: 825px;
    height: 615px
  }

  .modal_wrapper{
    padding: 17px 18px 23px 18px;
  }

}

@media (max-width: 1090px){

}

@media (max-width: 1080px){

  .menu__list-item + .menu__list-item {
    margin-left: 15px;
  }

  .content_modal{
    left: 120px;
    width: 825px;
    height: 615px
  }

  .modal_wrapper{
    padding: 17px 18px 23px 18px;
  }
}

@media (max-width: 1075px){


  .content_modal{
    left: 100px;
    width: 825px;
    height: 615px
  }

  .modal_wrapper{
    padding: 17px 18px 23px 18px;
  }

  .filter_content{
    margin-left: 0px;
    margin-right: 0px;
  }
}


@media (max-width: 1050px) {


  .content_modal{
    left: 80px;
  }
}

@media (max-width: 1035px){

  .header__top-up-wrapper,
  .dropdown .dropbtn {
    font-size: 14px;
  }

  .header__link{
    font-size: 14px;
  }

  .content_modal{
    left: 60px;
  }
  .menu__list-item + .menu__list-item {
    margin-left: 10px;
  }
}

@media (max-width: 1020px){


  .content_modal{
    left: 50px;
    width: 825px;
    height: 615px
  }

  .modal_wrapper{
    padding: 17px 18px 23px 18px;
  }


}


@media (max-width: 1000px) {
  /* .menu__list-item + .menu__list-item {
    margin-left: 5px;
  }

  .product-card {
  0px;
  }

  .header__info-column {
    display: flex;
  }

  .header__top-inner {
    justify-content: center;
  }

  .header__top-up-wrapper {
    display: flex;
    flex-direction: column;
  }

  .header__top-up-right {
    display: flex;
  }

  .header__top-up {
    display: flex;
    align-items: center;
    flex-direction: column;
  } */

  .menu::after,
  .menu::before {
    top: 190px;
  }
  
  .menu::after {
    top: 230px;
  }
  
  .header__top-up-left {
        position: absolute;
        top: 57px;
        left: 50px;
    margin-bottom: -8px;
  }
  
  .header__top-wrapper {
      margin-top: 65px;
      display: flex;
      align-items: flex-end;
  }

.header__top-up-right{
  flex: 1;
}

  .menu__list-item + .menu__list-item {
    margin-left: 5px;
  }

  .content_modal{
    left: 40px;
    width: 825px;
    height: 615px
  }

  .modal_wrapper{
    padding: 17px 18px 23px 18px;
  }

  .logo_img-div{
    width: 55px;
    padding-right: 23px;
  }

  .logo_img{
    width: 55px;
    height: 55px;
    object-fit: cover;
  }

  .logo_name-div{
    width: 170px;
    height: 30px;
  }

  .header__top-up-right{
    margin-left: 0;
  }

  .filter .filters_wrapper{
    left: 0px;
    z-index: 1;
    height: 1964px;
    top: 0;
    background-color: #ffff;
    box-shadow: 0 4px 19px 1px rgb(0 0 0 / 25%);
  }

  .filter .glav__benefits-wrapper{
    padding-right: 0;
  }

  .closebtn{
    display: flex;
    font-size: 55px;
    justify-content: flex-end;
  }
}

@media (max-width: 980px) {

  .popular__content--list .novie {
    display: none;
  }
  .popular__content--list .popular__item {
    display: flex;
  }
  .list .glav__benefits-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .menu__list-item + .menu__list-item {
    margin-left: 2px;
  }



  .product-card__price{
    font-size: 16px;
  }

  .product-card__like{
    font-size: 9px;
  }

  .card__last-price{
    font-size: 12px;
  }

  .card__price{
    width: 10px;
  }

  .card__like{
    width: 46px;
  }

  .content_modal{
    left: 20px;
    width: 825px;
    height: 615px
  }

  .modal_wrapper{
    padding: 17px 18px 23px 18px;
  }

}

@media (max-width: 960px){
  .menu__list-item + .menu__list-item {
    margin-left: 2px;
  }

  .menu__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 120px;

  }

  .menu__img2{
    width: 35px;
      height: 35px;
  }

  .menu::after,
  .menu::before {
    top: 185px;
  }
  
  .menu::after {
    top: 255px;
  }
}

@media (max-width: 954px) {

  .menu__list-item + .menu__list-item {
    margin-left: 0px;
  }

  /* .list__choice {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  } */

  .list__choice{
    display: none;
  }


  .list__choise-item,
  .list__choise-item--2,
  .list__choise-item--3,
  .list__choise-item--4{
    width: 168px;
  }

  .list{
    align-items: flex-end;
    
    justify-content: flex-end;
  }

  .product-card__price{
    font-size: 26px;
  }

  .product-card__like{
    font-size: 10px;
  }

  .card__last-price{
    font-size: 16px;
  }

  .card__price{
    width: 16px;
  }

  .card__like{
    width: 46px;
  } 

}

@media (max-width: 925px){



  
}


@media (max-width: 920px){

}

@media (max-width: 900px) {


  /* .glav__benefits-wrapper {
    grid-template-columns: repeat(2, 1fr);
  } */
  body {
    min-width: 820px;
  }

  .footer {
    min-width: 830px;
  }

  .glav__benefits-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }

  /* .product-card{
    max-width: 340px;
  } */

  .filter .glav__benefits-wrapper{
    grid-template-columns: repeat(2, 1fr);
    padding-right: 0;
  }



}

/* @media (max-width: 830px){
  .menu::after,
  .menu::before {
    right: -32px;
  }


}

@media (max-width: 800px){
  .menu::after,
  .menu::before {
    right: -54px;
  }



}

@media (max-width: 780px){
  .menu::after,
  .menu::before {
    right: -98px;
  }
}

@media (max-width: 750px){
  .menu::after,
  .menu::before {
    right: -128px;
  }
}

@media (max-width: 700px){
  .menu::after,
  .menu::before {
    right: -158px;
  }
}

@media (max-width: 670px){
  .menu::after,
  .menu::before {
    right: -178px;
  }
}

@media (max-width: 630px){
  .menu::after,
  .menu::before {
    right: -208px;
  }
}

@media (max-width: 620px){
  .menu::after,
  .menu::before {
    right: -228px;
  }
}

@media (max-width: 600px){
  .menu::after,
  .menu::before {
    right: -248px;
  }
}

@media (max-width: 580px){
  .menu::after,
  .menu::before {
    right: -268px;
  }
}

@media (max-width: 550px){
  .menu::after,
  .menu::before {
    right: -288px;
  }
}

@media (max-width: 530px){
  .menu::after,
  .menu::before {
    right: -308px;
  }
}

@media (max-width: 500px){
  .menu::after,
  .menu::before {
    right: -338px;
  }
}

@media (max-width: 480px){
  .menu::after,
  .menu::before {
    right: -358px;
  }
}

@media (max-width: 450px){
  .menu::after,
  .menu::before {
    right: -388px;
  }
} */