.content_img {
    display: flex;
    margin-bottom: -100px;
}

.content__info {
    margin-left: 50px;
    margin-top: 60px;
}

.content__form{
    display: flex;
    margin-bottom: 25px;
}

h2 {
    color: #4B4B4B;
    font-size: 22px;
    margin-bottom: 8px;
    font-weight: 600;
}

.art {
    font-size: 13px;
    color: #929292;
}

.opisanie {
    font-size: 18px;
    color: #4B4B4B;
    text-align: left;
    width: 500px;
    margin-top: 32px;
    margin-bottom: 39px;
}

.choise_color {
    color: #4B4B4B;
}

.choise__number-link {
    border-radius: 10px;
    border-color: #BCBCBC;
    font-size: 15px;
    height: 35px;
    width: 90px;
    margin-left: 10px;
}

.choise-list{
    margin-right: 109px;
}

.vybor{
    display: flex;
    align-items: center;
}

.obst{
    display: flex;
    border: 1px solid #BCBCBC;
    border-radius: 10px;
    height: 33px;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.btn_1{
    font-size: 22px;
}

.kolvo{
    color: #4B4B4B;
    margin-right: 18px;
}

.chet{
    font-size: 20px;
}

.minus,
.plus{
    display: flex;
    align-items: center;
}

.tovar{
  max-height: 450px;
}

.tovar_price{
    font-size: 15px;
    color: #4B4B4B;
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

.price{
    font-size: 40px;
    color: #4B4B4B;
    margin-left: 5px;
}

.btn_text{
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.btn_korzina{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007ABE;
    border-radius: 10px;
    width: 190px;
    height: 40px;
}

.icon_korzina{
    margin-left: 5px;
}

#slick-list{
    display: flex;
}

.content__footer{
    margin-top: 61px;
}

.content__price{
    
    margin-bottom: 30px;
}

.content__right{
  margin-left: 126px;
}

.content__right-tema{
  color: #007ABE;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  line-height: 18px;
  width: 116px;
  height: 38px;
}

.content__right-glav{
  margin-bottom: 20px; 
}

.content__right-price{
  font-size: 15px;
  color: #007ABE;
  font-weight: 600;
}

.content__right-price{
  display: flex;
}

.content__korzina{
  cursor: pointer;
  margin-left: 46px;
}

/* ------------------------------------- */
.topnav {
    display: flex;
    overflow: hidden;
    border-bottom: 1px solid #dbdbdb;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #9A9A9A;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: #4B4B4B;
  }
  
  .topnav a.active {
    background-color: #F3F3F3;
    color: #4B4B4B;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .footer-wrapper--opis{
    font-size: 22px;
    font-weight: 400;
    color: #4B4B4B;
    line-height: 29px;
    margin-bottom: 12px;
    margin-top: 12px;
  }

  .footer_wrapper--opis{
    border-bottom: 1px solid #dbdbdb;
  }

.footer_down{
    margin-top: 60px;
    margin-bottom: 280px;
    display: flex;
    justify-content: flex-start;
}

.footer_right-tema{
  font-size: 26px;
  color: #4B4B4B;
  margin-bottom: 32px;
    margin-left: 38px;
    font-weight: 600;
}

.footer_right-content{
  display: flex;
}

  .filter_down{
    display: flex;
    align-items: center;
    font-size: 22px;
    color: #4B4B4B;
    margin-bottom: 32px;
    font-weight: 600;
  }

  .filter_tag{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .filter_btn{
    display: flex;
    align-items: center;
  }

  .filter_btn + .filter_btn {
    margin-top: 16px;
  }

.filter_btn:hover,
.filter_btn:focus{
  color: #007ABE;
transition: color 0.3s;
background-color: #1919190e;
transition: all 0.3s;
}

  .filter_btn img {
    width: 28px;
    height: 28px;
  }

  .filter_text{
    width: 240px;
    text-align: left;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .filter_icon{
    margin-right: 14px;
  }

.card__btn{
  margin-left: 95px;
}

.slick-slider{
  max-width: 460px;
}


.product-card__price-content{
  display: flex;
    align-items: center;
    margin-top: 37px;
}