.wrapper {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 274px;
  font-size: 14px;
  background-color: rgb(0, 122, 190);
}

.korzina {
  position: relative;
}

.panel_korzina {
  display: flex;
  align-items: center;
}

.korzina_content {
  display: none;
}

.korzina__white {
  display: none;
}

#about.panel_korzina--active {
  width: 723px;
  background-color: #007abe;
  height: 61px;
  box-sizing: border-box;
}

#about.panel_korzina--active .korzina__white {
  display: flex;
  width: 25px;
  height: 29px;
}
#about.panel_korzina--active .korzina__grey {
  display: none;
}

#about.panel_korzina--active .korzina_content {
  display: block;
}

#about.panel_korzina--active .korzina_name {
  display: flex;
  margin-left: 46px;
}

.slider-wrapper {
  width: 370px;
}

.mySwiper2 {
  width: 370px;
  overflow: hidden;
}

.popular__content--list .popular__item {
  display: none;
}

.novie {
  display: none;
}

.popular__content--list .novie {
  display: flex;
  width: 100%;
}

/* Стиль ссылки внутри sidenav */
#mySidenav a {
  position: fixed; /* Расположите их относительно окна браузера*/
  right: -87px; /* Расположите их за пределами экрана */
  transition: 0.3s; /* Добавить переход при наведении курсора */
  padding: 15px; /* 15px отступы */
  width: 100px; /* Установите определенную ширину */
  text-decoration: none; /* Удалить подчеркивание */
  font-size: 20px; /* Увеличить размер шрифта */
  color: white; /* Белый цвет текста */
  border-radius: 50px 0px 0px 50px; /* Закругленные углы на верхней правой и нижней правой стороне */
}

#mySidenav a:hover {
  right: 0; /* При наведении курсора мыши, сделать элементы отображаются так, как они должны */
}

/* Ссылка about: 20px сверху с зеленым фоном */
#about {
  top: 280px;
  background-color: #f4f4f4;
}

#blog {
  top: 350px;
  background-color: #f4f4f4; /* Синий */
}

#projects {
  top: 410px;
  background-color: #f4f4f4; /* Красный */
}

#contact {
  top: 470px;
  background-color: #f4f4f4; /* Светло-Черный */
}

#share {
  top: 530px;
  background-color: #f4f4f4;
}

.badge {
  position: absolute;
  top: -23px;
  right: 14px;
  padding: 1px 5px 1px 5px;
  border-radius: 50%;
  background-color: #ff6c01;
  color: white;
  font-size: 12px;
}

.filter-btn-top{
  width: 283px;
  border-radius: 6px;
  border: 1px solid #BCBCBC;
}

.filter-btn{
  width: 128px;
  border-radius: 6px;
    border: 1px solid #BCBCBC;
}

.filters_wrapper{
  display: none;
}

.filter .filters_wrapper {
  display: block;
  height: 1917px;
  width: 395px;
  position: absolute;
  z-index: 0;
  top: 338px;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.filter__content-top--right{
  display: flex;
}

.filter-search{
  position: absolute;
  top: 100px;
  left: 0px;

}

.filter__content-glav-top{
  position: absolute;
    top: 145px;
    left: 0;
}

.filter-top--right-p{
  margin-right: 80px;
    font-weight: 600;
    font-size: 22px;
    color: #4B4B4B;
}

.filter-top--right-clear{
  font-weight: 400;
    font-size: 14px;
    color: #FF7272;
}

.closebtn{
  font-size: 36px;
  color: #007abe;
}

.filter__content-glav-bottom{
  position: absolute;
  top: 220px;
  left: 0px;
}

.filter-0{
  position: absolute;
    top: 180px;
    left: 0;
}

.filter--{
  position: absolute;
  top: 180px;
  left: 137px;
  font-size: 21px;
  color: #BCBCBC;
}

.filter-10000{
  position: absolute;
  top: 180px;
  left: 155px;
}

.filter__checkbox{
  position: absolute;
  left: -20px;
}

.filter__content-bottom-name{
  font-weight: 600;
font-size: 18px;
color: #4B4B4B;
position: absolute;
top: 260px;
left: 0;
}

.filter__content-bottom-name2{
  font-weight: 600;
  font-size: 18px;
  color: #4B4B4B;
  position: absolute;
  top: 390px;
  left: 0;
}

.filter__content-bottom-name3{
  font-weight: 600;
  font-size: 18px;
  color: #4B4B4B;
  position: absolute;
  top: 485px;
  left: 0;
}

.filter__content-bottom-right-p1{
  font-weight: 500;
font-size: 16px;
color: #4B4B4B;
position: absolute;
top: 296px;
left: 20px;
}

.filter__content-bottom-right-p2{
  font-weight: 500;
font-size: 16px;
color: #4B4B4B;
position: absolute;
top: 324px;
left: 20px;
}

.filter__content-bottom-right-p3{
  font-weight: 500;
  font-size: 16px;
  color: #4B4B4B;
  position: absolute;
    top: 420px;
    left: 20px;
}

.filter__content-bottom-right-p4{
  font-weight: 500;
  font-size: 16px;
  color: #4B4B4B;
  position: absolute;
  top: 450px;
  left: 20px;
}

.filter__content-bottom-right-p5{
  font-weight: 500;
  font-size: 16px;
  color: #4B4B4B;
  position: absolute;
  top: 515px;
  left: 20px;
}

.filter__content-bottom-right-p6{
  font-weight: 500;
  font-size: 16px;
  color: #4B4B4B;
  position: absolute;
    top: 540px;
    left: 20px;
}

.filter__content-bottom-right-p7{
  font-weight: 500;
  font-size: 16px;
  color: #4B4B4B;
  position: absolute;
    top: 565px;
    left: 20px;
}

.filter__content-bottom-right-p8{
  font-weight: 500;
  font-size: 16px;
  color: #4B4B4B;
}

.filter__content-bottom-right-bottom{
  font-weight: 400;
font-size: 14px;
color: #FF7272;
position: absolute;
    top: 355px;
    left: 0;
    cursor: pointer;
}

/* ---------------------------------------------------- */

.dropdown_filter{
      position: absolute;
      top: 605px;
      left: -6px;
}

.dropbtn_filter {
  font-weight: 600;
  font-size: 18px;
  color: #4B4B4B;
  border: none;
  cursor: pointer;
}

.dropbtn_filter:hover, .dropbtn:focus {
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content--filter {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content--filter a {
  color: black;
  padding: 12px 6px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.showFilter {display: block;}
/* -------------------------------------------------- */

/* ---------------- */
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 210%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #007ABE;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #007ABE;
  cursor: pointer;
}

/* ------------------- */
.korzina_name {
  display: none;
  font-size: 26px;
  font-weight: 500;
}

.korzina_wrapper{
  width: 640px;
  height: 200px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 19px 1px rgb(0 0 0 / 25%);
  border-radius: 0px 0px 0px 10px;
  position: absolute;
  top: 62px;
  left: 25px;
}

.korzina_wrapper-left{
  top: 30px;
  left: 25px;
  position: absolute;
}

.korzina_wrapper-right{
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.korzina_wrapper-right-up{
  color: #4B4B4B;
  font-weight: 500;
  position: absolute;
  top: 45px;
  left: 165px;
  font-size: 22px;
}

.korzina_wrapper-right-down{
  color: #4B4B4B;
  font-weight: 500;
  position: absolute;
  left: 160px;
  top: 100px;
  font-size: 12px;
  line-height: 16px;
}

/* --------------- */

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* --------------------------- */

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.drop-down {
  position: relative;
  display: inline-block;
}

.drop_left {
  padding: 26px 10px 10px 21px;
}

.drop_text {
  margin-bottom: 21px;
  cursor: pointer;
}

.drop_text:hover,
.drop_text:focus {
  color: #007abe;
  transition: color 0.3s;
  transition: all 0.3s;
}

.drop_right {
  display: flex;
  margin-left: 60px;
  padding: 23px 0px 0px 0px;
  flex-direction: column;
}

.drop_right-p {
  color: #4b4b4b;
  font-weight: 500;
  font-size: 16px;
}

.drop_right-span {
  color: #929292;
  font-size: 12px;
  font-weight: 400;
}

.drop_right-price {
  color: #4b4b4b;
  font-size: 18px;
  font-weight: 500;
}

.drop_right-korzina {
  margin-left: 127px;
  cursor: pointer;
}

.drop__right-content {
  display: flex;
  margin-bottom: 7px;
}

.drop_right-content--bottom {
  display: flex;
  align-items: center;
}

.drop__footer-text {
  color: #007abe;
  cursor: pointer;
  text-decoration: underline;
  position: relative;
  left: 290px;
  top: 20px;
}

.drop-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 731px;
  height: 340px;
}

.drop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ffffff;
}

.show {
  display: flex;
}

.drop-btn {
  padding: 0;
  padding-bottom: 7px;
  background-image: url("../img/poisk.svg");
  background-repeat: no-repeat;
  background-position: right;
  border: none;
  border-bottom: 1px solid;
  border-color: #a3a3a3;
  display: flex;
  align-items: center;
  width: 100%;
}

.header__top-form {
  margin-right: 20px;
  flex: 1 1 auto;
}

/* ----------------------------------- */
#modalForm {
  background-color: rgb(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 150;
  display: none;
}

#filter {
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
}

.content_modal {
  position: relative;
  top: 150px;
  left: 360px;
  background-color: #ffff;
  width: 890px;
  height: 642px;
}

.modal_wrapper {
  padding: 30px 57px 30px 57px;
}

.modal_content {
  display: flex;
}

.modal_name {
  color: #007abe;
  margin-bottom: 34px;
  font-size: 22px;
  font-weight: 600;
}

.modal_tovar-img {
  width: 292px;
  height: 292px;
  border-radius: 8px 8px 0px 0px;
}

.modal__bottom-left--content {
  display: flex;
}

.modal_right-strelka {
  cursor: pointer;
}

.modal_left-strelka {
  cursor: pointer;
}

.modal_kolvo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.modal_slyde {
  width: 220px;
  height: 67.66px;
}

.modal_p {
  font-size: 12px;
  font-weight: 400;
  color: #1f9d1c;
  margin-top: 22px;
  margin-bottom: 17px;
}

.modal_price-last {
  font-size: 20px;
  font-weight: 400;
  color: #929292;
  text-decoration: line-through;
  margin-bottom: 20px;
}

.modal_tovar-bottom {
  display: flex;
}

.modal_price {
  display: flex;
  font-weight: 500;
  font-size: 30px;
  color: #4b4b4b;
}

.modal_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 46px;
}

.modal_right-name {
  color: #4b4b4b;
  font-size: 22px;
  font-weight: 600;
}

.modal_right-art {
  color: #929292;
  font-size: 13px;
  font-weight: 400;
  padding-top: 4px;
  padding-bottom: 14px;
}

.modal_right-span {
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 500;
}

.modal_right-faq {
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 400;
  width: 470px;
  padding-top: 8px;
  padding-bottom: 16px;
}

.modal_right-bottom--span {
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 400;
  font-weight: 500;
}

.modal_right--bottom {
  margin-left: 50px;
}

.modal_right-bottom {
  display: flex;
  padding-top: 16px;
  line-height: 37px;
}

.modal_right-bottom--left {
  margin-right: 100px;
}

.bottom_left-text--2,
.bottom_right-text--2 {
  background-color: #f3f3f3;
}

.btn_text {
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.btn_korzina {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007abe;
  border-radius: 10px;
  width: 160px;
  height: 33px;
}

.icon_korzina {
  margin-left: 5px;
}

.list .glav__benefits-wrapper {
  grid-template-columns: 1fr;
}
