.wrapper {
  max-width: 1220px;
  margin: 0 auto;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  background-color: rgb(0, 122, 190);
}

.panel_korzina{
  display: flex;
    align-items: center;
}

.korzina_content{
  display: block;
}

/* Стиль ссылки внутри sidenav */
#mySidenav a {
  position: fixed; /* Расположите их относительно окна браузера*/
  right: -80px; /* Расположите их за пределами экрана */
  transition: 0.3s; /* Добавить переход при наведении курсора */
  padding: 15px; /* 15px отступы */
  width: 100px; /* Установите определенную ширину */
  text-decoration: none; /* Удалить подчеркивание */
  font-size: 20px; /* Увеличить размер шрифта */
  color: white; /* Белый цвет текста */
  border-radius: 50px 0px 0px 50px; /* Закругленные углы на верхней правой и нижней правой стороне */
}

#mySidenav a:hover {
  right: 0; /* При наведении курсора мыши, сделать элементы отображаются так, как они должны */
}

/* Ссылка about: 20px сверху с зеленым фоном */
#about {
  top: 280px;
  background-color: #F4F4F4;
}

#blog {
  top: 350px;
  background-color: #F4F4F4; /* Синий */
}

#projects {
  top: 410px;
  background-color: #F4F4F4; /* Красный */
}

#contact {
  top: 470px;
  background-color: #F4F4F4 /* Светло-Черный */
}

#share{
  top: 530px;
  background-color: #F4F4F4 
}

.badge {
  position: relative;
  top: -23px;
  right: 14px;
  padding: 1px 5px 1px 5px;
  border-radius: 50%;
  background-color: #FF6C01;
  color: white;
  font-size: 12px;
}

.korzina_name{
  display: none;
  font-size: 26px;
}

/* ------------------ */

/* Контейнер навигации */
.navbar {
  overflow: hidden;
  font-family: Arial;
}

/* Ссылки в панели навигации */
.navbar a {
  float: left;
  font-size: 16px;
  color: #777777;;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Выпадающий контейнер */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Кнопка выпадающего списка */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #777777;
  background-color: inherit;
  font-family: inherit; /* Важно для вертикального выравнивания на мобильных телефонах */
  margin: 0; /* Важно для вертикального выравнивания на мобильных телефонах */
}

/* Добавить красный цвет фона для ссылок на навигационную панель при наведении курсора */
/* .navbar a:hover, .dropdown:hover .dropbtn {

} */

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 4px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  float: none;
  color: #4B4B4B;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Добавить серый цвет фона для выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
  background-color: #ddd;
  color: #007ABE;
  text-decoration: underline;
}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
  display: block;
}

/* --------------- */

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/* --------------------------- */

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.drop-down {
  position: relative;
  display: inline-block;
}

.drop_left{
  padding: 26px 10px 10px 21px;
}

.drop_text{
  margin-bottom: 21px;
  cursor: pointer;
}

.drop_text:hover,
.drop_text:focus{
  color: #007ABE;
transition: color 0.3s;
transition: all 0.3s;
}

.drop_right{
  display: flex;
  margin-left: 120px;
    padding: 23px 0px 0px 0px;
    flex-direction: column;
}

.drop_right-p{
color: #4B4B4B;
font-size: 16px;
}

.drop_right-span{
color: #929292;
font-size: 12px;
}

.drop_right-price{
color: #4B4B4B;
font-size: 18px;
}

.drop_right-korzina{
  margin-left: 110px;
  cursor: pointer;
}

.drop__right-content{
  display: flex;
  margin-bottom: 7px;
}

.drop_right-content--bottom{
  display: flex;
  align-items: center;
}

.drop__footer-text{
  color: #007ABE;
  cursor: pointer;
  text-decoration: underline;
  position: relative;
  left: 290px;
  top: 20px;
}

.drop-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 731px;
  height: 340px;
}

.drop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #FFFFFF;}

.show {display: flex;}


/* ----------------------------------- */
#modalForm{
  background-color: rgb(0, 0, 0,0.6);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 150;
  display: none;
  width: 1526px;
  height: 930px;
}

#filter{
background-color: rgb(0, 0, 0);
position: fixed;
top: 0;
right: 0;
bottom: 0;
z-index: 100;
display: none;
}

.content_modal{
  position: relative;
  top: 150px;
  left: 360px;
  background-color: #ffff;
  width: 890px;
  height: 616px;
}

.modal_wrapper{
  padding: 30px 57px 30px 57px;
}

.modal_content{
  display: flex;
}

.modal_name{
  color: #007ABE;
  margin-bottom: 34px;
  font-size: 22px;
  font-weight: 600;
}

.modal_tovar-img{
  width: 292px;
  height: 292px;
  border-radius: 8px 8px 0px 0px;
}

.modal_right-strelka{
  cursor: pointer;
}

.modal_left-strelka{
  cursor: pointer;
}

.modal_slyde{
  width: 220px;
  height: 67.66px;
}

.modal_p{
  font-size: 12px;
  font-weight: 400;
  color: #1F9D1C;
  margin-top: 22px;
  margin-bottom: 17px;
}

.modal_price-last{
  font-size: 20px;
  font-weight: 400;
  color: #929292;
  text-decoration: line-through;
  margin-bottom: 3px;
}

.modal_price{
  font-weight: 500;
  font-size: 30px;
  color: #4B4B4B;
}

.modal_right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal_right-name{
  color: #4B4B4B;
  font-size: 22px;
  font-weight: 600
}

.modal_right-art{
  color: #929292;
  font-size: 13px;
  font-weight: 400;
  padding-top: 4px;
  padding-bottom: 14px;
}

.modal_right-span{
  color: #4B4B4B;
  font-size: 14px;
  font-weight: 500;
}

.modal_right-faq{
  color: #4B4B4B;
  font-size: 14px;
  font-weight: 400;
  width: 470px;
  padding-top: 8px;
  padding-bottom: 16px;
}

.modal_right-bottom--span{
  color: #4B4B4B;
  font-size: 14px;
  font-weight: 400;
  font-weight: 500;
}

.modal_right-bottom{
  display: flex;
  padding-top: 16px;
}

.modal_right-bottom--left{
  margin-right: 100px;
}

.bottom_left-text--2,
.bottom_right-text--2{
  background-color: #F3F3F3;
}